@font-face {
  font-family: "casinoregular";
  src:
    url("../font/casino-webfont.woff2") format("woff2"),
    url("../font/casino-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --bg-black: #050c0c;
  --bg-green: #065251;
  --text-primary: #ffffff;
  --text-accent: #ff9f73;
  --vertical-spacing: 14vmax;

  /* responsive font size variables */
  --text-min: 1rem;
  --text-pref: 5vw;
  --text-max: 3rem;
  --text-scale: 1;
}

header h1,
header p,
section div,
section a,
footer div {
  font-size: clamp(
    calc(var(--text-min)),
    calc(var(--text-pref) * var(--text-scale)),
    calc(var(--text-max) * var(--text-scale))
  );
}

html {
  background-color: var(--bg-green);
  color: var(--text-primary);
  font-family: "casinoregular";
  line-height: 1.4;
  width: 100%;
  overflow-x: hidden;
  text-align: center;
}

header {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: var(--bg-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  animation: hide-header linear forwards;
  animation-timeline: scroll(root block);
  animation-range: 150vh 200vh;
  padding-top: 20vh;
}

@keyframes hide-header {
  0% {
    opacity: 1;
    pointer-events: auto;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
/*
header .container {
  height: 100vh;
  position: absolute;
  width: 800px;
  max-width: 90vw;
  margin-inline: auto;
  z-index: -1;
} */

#image-chip-red {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-320%) translateY(-10%);
}
#image-chip-black {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-260%) translateY(-40%);
}

#image-cards {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-inline: auto;
  width: 700px;
  height: auto;
  max-width: 90vw;
  transform: translateY(45%);
}

@media (width <= 1100px) {
  #image-cards {
    transform: translateY(40%);
  }
}

@media (width <= 768px) {
  header {
    padding-top: 20%;
  }
  #image-chip-red, #image-chip-black {
   display: none;
  }
  #image-cards {
    transform: translateY(35%) translateX(-50%);
  }
}

header h1 {
  margin: 0;
  font-weight: normal;
  color: var(--text-accent);
  --text-scale: 4.5;
}

header p {
  margin: 0;
  letter-spacing: 0.5em;
  --text-scale: 0.4;
}

main {
  position: relative;
  z-index: 3;
  margin-top: calc(100vh - 10vmin);
  margin-bottom: 60vh;
  background-color: var(--bg-black);
  padding-block: var(--vertical-spacing);
  clip-path: polygon(0 0, 100% 20vmin, 100% calc(100% - 20vmin), 0 100%);
  overflow-x: hidden;
}

section {
  padding-block: var(--vertical-spacing);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#specimen-1 div:nth-child(1) {
  --text-scale: 1.5;
}
#specimen-1 div:nth-child(2) {
  --text-scale: 3;
}
#specimen-1 div:nth-child(3) {
  --text-scale: 1.25;
}
#specimen-1 div:nth-child(4) {
  --text-scale: 2;
}

#specimen-2 div:nth-child(1) {
  --text-scale: 2.25;
}
#specimen-2 div:nth-child(2) {
  --text-scale: 1.25;
}
#specimen-2 div:nth-child(3) {
  --text-scale: 3.3;
}
#specimen-2 div:nth-child(4) {
  --text-scale: 1.7;
}

#specimen-3 div {
  --text-scale: 1.75;
}

#specimen-4 div {
  --text-scale: 10;
}

#download a {
  text-decoration: none;
  color: var(--text-accent);
  --text-scale: 1.5;
  display: inline-block;
}

#download div {
  --text-scale: 0.4;
  margin-top: 1rem;
  letter-spacing: 0.25em;
}

#download a:hover {
  opacity: 0.75;
}

footer {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: var(--bg-green);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 6vmax;
  gap: 3rem;
}

footer img {
  width: 100px;
  height: auto;
}

footer div {
  letter-spacing: 0.5em;
  --text-scale: 0.4;
  line-height: 2.5;
}

.image-suit {
  width: min(20vw, 200px);
  opacity: 0.2;
}
